[Unit]
Description=botline
After=network.target

[Service]
ExecStart=/root/test-bot/bot.sh
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target